.header img{
    height: 80px;
    margin: 10px 0px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    padding: 5px;
}
nav a{
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
    color: white;
}
nav a:hover{
    background-color: gray;
}